
<!DOCTYPE html>
<html lang="en">
<head>
    <tittle>CSS DAY 3</tittle>
    <link rel="stylesheet" href="day3.css">
</head>
<body>
    <ul>
    <li>home</li>
    <li>skills</li>
    <li>projects</li>
    </ul>
</body>